@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
}
.background{
  background: rgb(90,133,95);
background: linear-gradient(14deg, rgba(90,133,95,1) 0%, rgba(145,179,142,1) 61%, rgba(157,189,154,1) 83%, rgba(197,220,194,1) 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 
transitions */

.job-transition-enter {
  opacity: 0;
}

.job-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.job-transition-exit {
  opacity: 1;
}

.job-transition-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.file-enter {
  opacity: 0;
}

.file-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.file-exit {
  opacity: 1;
}

.file-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
.file:first-child {
  display: flex;
}
input[type='text']:focus { box-shadow: none; }

.input3:focus{
  box-shadow: black !important;
  border: black !important;
  border-style: solid !important;

}
